{% extends 'base.html.twig' %}

{% block title %}Nouvelle Commune{% endblock %}

{% block body %}
    <h1>Créer une nouvelle commune</h1>

    {{ include('commune/_form.html.twig') }}

    <a href="{{ path('app_commune_index') }}"class="btn btn-primary">Retour à la liste</a>
{% endblock %}
